## 1. Print Statements

The `print()` function is used to display output in Python.

In [3]:
print('Hello, World!')
#"Hello, World!"

Hello, World!

## 2. Variables

Variables store data that can be used later in the program.

In [4]:
x = 10 
y = 20
print(x + y)

30

## 3. Data Types

Python has different data types such as int, float, str, and bool.

In [8]:
price = 42
pi = 3.14
name = 'Alice'
is_active = True ## Bool 布尔型 False
print(type(num), type(pi), type(name), type(is_active))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [10]:
price = 14.5
type(price)

float

## 4. Lists

Lists are ordered, mutable collections of items.

In [12]:
fruits = ['apple', 'banana', 'cherry'] # nums = [1, 2, 3, 4, 5]
print(fruits[1])  # Access second item

list1 = ['a', 1, True, [2, 3, 4]]
list1

banana

['a', 1, True, [2, 3, 4]]

## 5. Tuples

Tuples are ordered and immutable collections of items.

In [13]:
dimensions = (1920, 1080)
print(dimensions)

(1920, 1080)

## 6. Dictionaries

Dictionaries store data as key-value pairs.

In [15]:
person = {'name': 'Alice', 'age': 25} # json, xml, yaml, jinjia2 
print(person['name'])


person = {'names': ['Alice', 'Bob'], 'age': [25, 24]} 
person

import pandas as pd 
pd.DataFrame(person)

Alice

   names  age
0  Alice   25
1    Bob   24

## 7. Sets

Sets are unordered collections of unique items.

In [16]:
unique_numbers = {1, 2, 3, 2} # set 集合
print(unique_numbers)

{1, 2, 3}

## 8. Conditional Statements

Use `if`, `elif`, and `else` to make decisions in Python.

In [ ]:
x = 10
if x > 5:
    print('x is greater than 5') #   1， 2， 3， 4， 5， 6， 7， 8， 9， 10
elif x == 5:
    print
else:
    print('x is less than or equal to 5')

## 9. Loops

Use `for` or `while` loops to repeat actions.

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

## 10. Functions

Functions are blocks of reusable code.

In [18]:
def greet(name):
    return f'Hello, {name}!'  # f-string {var}
print(greet('Alice'))

Hello, Alice!

## 11. Classes and Objects

Python supports object-oriented programming with classes and objects.

In [19]:
class Person:
    def __init__(self, name, age):
        self.name = name # attribute, 属性
        self.age = age # 属性

person = Person('Alice', 25)
print(person.name, person.age)

Alice 25

## 12. List Comprehensions

List comprehensions provide a concise way to create lists.

In [20]:
squares = [x**2 for x in range(50)] # 
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

## 13. File Handling

Python can read and write files using the `open()` function.

In [ ]:
with open('example.txt', 'w') as file:
    file.write('Hello, World!')

with open('example.txt', 'r') as file:
    print(file.read())

## 14. Exception Handling

Use `try`, `except`, and `finally` to handle errors.

In [22]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print('Cannot divide by zero')
finally:
    print('Done')

Cannot divide by zero
Done

## 15. Modules

Import and use external modules with `import`.

In [ ]:
import math # MATLAB
print(math.sqrt(16))

## 16. Lambda Functions

Anonymous functions defined using `lambda`.

In [24]:
lambda x: x**2

## 17. Map Function

Apply a function to all items in an iterable.

In [25]:
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16]

## 18. Filter Function

Filter items in an iterable based on a condition.

In [26]:
numbers = [1, 2, 3, 4]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4]

## 19. Reduce Function

Apply a rolling computation to a sequence.

In [27]:
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

## 20. Generators

Generators yield items one at a time using `yield`.

In [28]:
def count_up_to(n):
    i = 1
    while i <= n:
        yield i
        i += 1

for number in count_up_to(5):
    print(number)

1
2
3
4
5

## 21. Default Function Arguments

Functions can have default parameter values.

In [ ]:
def greet(name, message='Hello'):
    return f'{message}, {name}!'
print(greet('Alice'))
print(greet('Bob', 'Hi'))

## 22. Packing and Unpacking

Use `*` and `**` for packing and unpacking arguments.

In [29]:
def add(*args):   #{"1": 1, "1": 2, "1": 3, "": 4}
    return sum(args)
print(add(1, 2, 3, 4))

10

## 23. F-Strings

Formatted string literals introduced in Python 3.6.

In [ ]:
name = 'Alice'
age = 25
print(f'{name} is {age} years old.') # f'sdfadfadfas{name}d'

## 24. Enumerate

Get the index and value of items in an iterable.

In [31]:
names = ['Alice', 'Bob', 'Charlie']
for a, name in enumerate(names):
    print(a, name)

0 Alice
1 Bob
2 Charlie

## 25. Zipping Iterables

Combine multiple iterables using `zip()`.

In [32]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
for item1, item2 in zip(list1, list2):
    print(item1, item2)

1 a
2 b
3 c

## 26. List Slicing

Extract subsets of lists using slicing syntax.

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]
print(numbers[1:4])
print(numbers[:3])
print(numbers[::2])

## 27. String Methods

Python strings have many useful methods.

In [ ]:
text = ' Hello World '
print(text.strip())
print(text.upper())
print(text.lower())

## 28. List Methods

Lists come with built-in methods for manipulation.

In [ ]:
numbers = [1, 2, 3]
numbers.append(4)
numbers.remove(2)
print(numbers)

## 29. Boolean Logic

Combine conditions using `and`, `or`, and `not`.

In [33]:
x = 10
y = 20
print(x > 5 and y < 25)
print(not (x > y))

True
True

In [34]:
x > 5 and y < 25

True

## 30. Nested Loops

Use loops within loops for complex iteration.

In [35]:
for i in range(3):
    for j in range(2):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=1, j=0
i=1, j=1
i=2, j=0
i=2, j=1

## 31. Range Function

Generate a sequence of numbers using `range()`.

In [36]:
for number in range(5):
    print(number)

0
1
2
3
4

## 32. Recursion

A function can call itself to solve problems recursively.

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n - 1)
print(factorial(5))

## 33. Importing Specific Functions

Import specific functions from a module using `from` keyword.

In [ ]:
from math import sqrt
print(sqrt(16))

## 34. Assert Statement

Use `assert` to test conditions during debugging.

In [37]:
x = 5
assert x > 0, 'x is not positive'
print('Assertion passed!')

Assertion passed!

## 35. Shallow vs Deep Copy 
# Lab 1

Understand the difference between shallow and deep copies.

In [2]:
import copy
original = [1, [2, 3]]
shallow = copy.copy(original)
deep = copy.deepcopy(original)
original[1][0] = 99
print('Shallow Copy:', shallow)
print('Deep Copy:', deep)

Shallow Copy: [1, [99, 3]]
Deep Copy: [1, [2, 3]]

## 36. The `is` Operator

Check if two variables point to the same object using `is`.

In [3]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]
print(a is b)
print(a is c)

True
False

## 37. The `in` Operator

Check if a value exists within an iterable.

In [4]:
fruits = ['apple', 'banana', 'cherry']
print('apple' in fruits)
print('grape' in fruits)

True
False

## 38. The `del` Statement

Remove an item from a list or delete a variable.

In [ ]:
# numbers = [1, 2, 3, 4]


del numbers[2]


#print(numbers)

## 39. Dictionary Comprehension

Create dictionaries using comprehension syntax.

In [ ]:
squared = {x: x**2 for x in range(5)}
print(squared)

## 40. Context Managers

Use `with` to handle resources efficiently.

In [ ]:
with open('example.txt', 'w') as file:
    file.write('Hello, World!')

## 41. Iterators

Iterators allow traversal through all the items in an iterable.

In [ ]:
numbers = iter([1, 2, 3, 4])
print(next(numbers))
print(next(numbers))

## 42. The `any` and `all` Functions

`any` checks if any element is true, `all` checks if all are true.

In [5]:
numbers = [1, 0, 3, 4]
print(any(numbers))  # True because at least one is non-zero
print(all(numbers))  # False because 0 is in the list

True
False

## 43. Sorting with `sorted`

Sort iterables using the `sorted()` function.

In [ ]:
numbers = [3, 1, 4, 1, 5, 9]
print(sorted(numbers))
print(sorted(numbers, reverse=True))

## 44. Using `key` in Sorting

Sort complex structures using the `key` argument.

In [ ]:
data = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 20}]
print(sorted(data, key=lambda x: x['age']))

## 45. Named Tuples

Create immutable objects with named fields using `collections.namedtuple`.

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
point = Point(10, 20)
print(point.x, point.y)

## 46. Counter

Use `collections.Counter` to count occurrences of elements.

In [ ]:
from collections import Counter
numbers = [1, 2, 2, 3, 3, 3]
count = Counter(numbers)
print(count)

## 47. Defaultdict

Handle missing keys in dictionaries using `collections.defaultdict`.

In [ ]:
from collections import defaultdict
def_dict = defaultdict(int)
def_dict['a'] += 1
print(def_dict)

## 48. Time Measurement

Measure execution time of code using `time`.

In [ ]:
import time
start = time.time()
sum(range(1000000))
end = time.time()
print(f'Execution time: {end - start} seconds')

## 49. Regular Expressions

Use `re` for pattern matching and text searching.

In [ ]:
import re
text = 'My phone number is 123-456-7890.'
match = re.search(r'\d{3}-\d{3}-\d{4}', text)
print(match.group())

## 50. Global and Local Variables

Understand the scope of variables in Python.

In [6]:
x = 'global'
def func():
    x = 'local'
    print('Inside:', x)
func()
print('Outside:', x)

Inside: local
Outside: global